.App {
  text-align: center;
}

.desktop {
  background: linear-gradient(#292E49, #536976);
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-section {
  background-color: #010021;
  height: 610px;
  width: 100%;
}
