* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;

  background-color: black;
}

.desktop {
  background: linear-gradient(#292E49, #536976);
  min-height: 8700px;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;

  max-width: 98%;
  margin: auto;
}

.header-section {
  position: relative;

  background-color: #191934;
  height: 610px;
  width: 100%;

  border-bottom: 4px solid #ffffff99;
}

.header-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 26.26px;

  overflow: hidden;
}

#top-left-header-text {
  position: absolute;

  top: 35px;
  left: 41px;

  max-width: auto;

  overflow: hidden;
}

#top-right-header-text {
  position: absolute;

  top: 35px;
  right: 41px;

  max-width: auto;

  overflow: hidden;
}

.header-text-div1 {
  /* overflow: hidden;
  max-height: 35.53px;
  max-width: 50%; */
}

/* .header-text-div2 {
  position: relative;
  overflow: hidden;

  max-height: 350.53px;
  max-width: 100%;

  top: 35px;
  right: 41px;
  margin-right: 0px;
  margin-left: auto;

  margin-left: calc(100% - 410px);
  margin-right: 41px;
  
  right: 41px;
  left: auto;


  display: inline-block;
  width: 100%;
  white-space: nowrap;
} */

/* #top-left-header-text p {
  max-height: 35.53px;
  max-width:50%;
  overflow: hidden;
} */

#top-right-header-text p {
  /* position: absolute;
  right: 41px;
  transform: translateX(100%); */



  /* ==> display: inline-block; <== */



  /* overflow: hidden;
  white-space: nowrap; */

  /* width: 50%; */
}

/* .left-header-anim-text1 {
  animation: header-anim-slide1 2s linear 0s infinite normal none;
}

.right-header-anim-text1 {
  animation: header-anim-slide1 2s linear 0s infinite reverse none;
}

.left-header-anim-text2 {
  animation: header-anim-slide1 2s linear 0s infinite normal none;
}

.right-header-anim-text2 {
  animation: header-anim-slide1 2s linear 0s infinite reverse none;
} */

@keyframes header-anim-slide1 {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(100%);}
}

@keyframes header-anim-slide2 {
  0% {transform: translateX(0%);}
  100% {transform: translateX(200%);}
}

#bottom-header-text {
  position: absolute;
  bottom: 46px;
  left: 0px;
  right: 0px;
  white-space: pre;
}

#ascii-header-text {
  position: absolute;
  font-size: 15.75;
  
  top:275px;
  left: 0px;
  right: 0px;

  white-space: pre;

  font-weight: 550;

  /* animation: header-section-anim 2s linear 2s infinite normal none; */
}

@keyframes header-section-anim {
  0% {color: white;}
  25% {color: green;}
  50% {color: white;}
}

.hero-section {
  position:relative;

  width: 100%;
  height: 886px;

  background-image: url("hero-selection-image.png");

  /* border: 5px solid white;
  box-sizing: border-box; */

}

.nextwave-hackers-icon {
  width: 744px;
  height: 582.06px;
}

#nextwave-hackers-icon1 {
  position: absolute;

  margin: 0 auto;

  top: 84px;
  left: 0px;
  right: 0px;
}

.hero-section-body-text {
  position: absolute;

  font-family: "Inter", sans-serif;

  left: 0px;
  right: 0px;
  bottom: 84px;
}

.scrolling-marquee-bg {
  position: relative;

  width: 100%;
  height: 120px;

  background-color: #00000080;

  overflow: hidden;
  white-space: nowrap;
}

.scrolling-marquee-text {
  position: absolute;

  width: 100%;
  height: 100%;
  
  line-height: 120px;

  text-align: center;
  margin: 0;

  font-family: "Major Mono Display", monospace;
  color: #6693FF;
  font-size: 45px;

  animation: scrolling-marquee-anim 20s linear 0s infinite normal none;
}

@keyframes scrolling-marquee-anim {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-350%);}
}

.introduction-section {
  position: relative;

  margin-top:89px;

  /* width: 1243px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-family: "Roboto", sans-serif;
  text-align: left;
}

.promotion-video {
  position: relative;
  
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 1209px;
  height: 652px;

  border: 10px solid white;
  border-radius: 25px;

  box-sizing: border-box;

  background-color: #FFFFFFCC;
}

.video-responsive {
  position: relative;
  
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 1209px;
  height: 652px;

  border: 10px solid white;
  border-radius: 25px;

  box-sizing: border-box;

  background-color: #FFFFFF;

  /* overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; */
}

.video-responsive iframe {
  /* left: 0;
  top: 0; */
  width: 1189px;
  height: 632px;
  position: relative;
  border: 0px;
  border-radius: 25px;
}

.introduction {
  position: relative;

  margin-top: 69px;

  background-color: #4C4C4C;

  padding-left: 98px;
  padding-right: 98px;

  padding-top: 25px;
  padding-bottom: 25px;
}

#introduction-header {
  font-weight: bold;

  font-size: 50px;
}

.body-text1 {
  position: relative;

  /* width: 100%; */

  /* vertical-align: middle; */

  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
}

#introduction-body {
  margin-top: 20px;
  height: 280px;
}

.objectives {
  position: relative;

  padding-left: 98px;
  padding-right: 42.86px;

  padding-top: 36px;
  padding-bottom: 31px;

  margin-top: 69px;

  margin-left: 0px;
  margin-right: auto;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  width: 695.14px;

  color: black;

  background-color: #CECECE;
}

.header-text1 {
  font-weight: bold;
  font-size: 36px;
}

/* #objectives-header {
  font-weight: bold;
  font-size: 36px;
} */

#objectives-body {
  margin-top: 15px;
  height: 220px;

  display: flex;
  align-items: center;
}

.hackers-definition {
  position: relative;

  padding-left: 46.71px;
  padding-right: 131px;

  padding-top: 38px;
  padding-bottom: 38px;

  margin-top: 112px;

  margin-left: auto;
  margin-right: 0px;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  width: 676.29px;

  background-color: #23324C;
}

#hackers-definition-body {
  margin-top: 15px;
  height: 263px;

  display: flex;
  align-items: center;
}

.objectives-icon, .hackers-definition-icon {
  position: absolute;

  transform: scale(25%);
}

.objectives-icon {
  left: 400px;
  bottom: -550px;
}

.hackers-definition-icon {
  right: 400px;
  bottom: -520px;
}

.branch-intro {
  position: relative;

  display: flex;
  align-items: center;

  margin-top: 89px;
  
  width: 100%;
  height: 495px;

  background-color: #0000004D;
}

#tree-image {
  position: relative;
  
  display: inline-block;

  height: 331.92px;
  width: 278.79px;

  margin-left: 171.68px;
  margin-right: auto;
}

#branch-intro-body {
  position: relative;

  display: inline-block;

  height: 311.63px;
  width: 752.85px;

  margin-left: auto;
  margin-right: 171.68px;

  text-align: left;

  font-family: "Roboto", sans-serif;

  font-size: 30.85px;
  font-weight: 300;
}

.individual-branch-intro {
  position: relative;
  
  margin-top: 89px;

  margin-left: auto;
  margin-right: auto;

  /* width: 1260px; */
  width: 100%;
  height: auto;
}

.our-branches {
  position: relative;

  width: 100%;
  height: 58px;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: auto;

  text-align: center;
}

.branches {
  position: relative;

  display: inline-block;

  margin-top: calc(76px + 58px);

  width: 100%;
  height: auto;
}

.l-branch-block, .r-branch-block {
  position: relative;

  width: 807px;
  height: 204px;

  background-color: #2B3442;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 52px;

  text-align: center;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.l-branch-block:hover, .r-branch-block:hover {
  background-color: #212d41;
  cursor: pointer;
}

#branch-block-1:hover ~ #branch-description-1 {
  transform: translateY(0%) scaleX(100%) scaleY(100%);
}

#branch-block-2:hover ~ #branch-description-2 {
  transform: translateY(0%) scaleX(100%) scaleY(100%);
}

#branch-block-3:hover ~ #branch-description-3 {
  transform: translateY(0%) scaleX(100%) scaleY(100%);
}

#branch-block-4:hover ~ #branch-description-4 {
  transform: translateY(0%) scaleX(100%) scaleY(100%);
}

#branch-block-5:hover ~ #branch-description-5 {
  transform: translateY(0%) scaleX(100%) scaleY(100%);
}

.r-branch-block {
  margin-left: auto;
  margin-right: 0px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.l-branch-block {
  margin-left: 0px;
  margin-right: auto;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.r-branch-block p {
  width: 619px;
  
  margin-left: 47px;
  margin-right: auto;
}

.l-branch-block p {
  width: 619px;

  margin-left: auto;
  margin-right: 47px;
}

.r-branch-description, .l-branch-description {
  position: relative;

  width: 704px;

  font-family: 'Syne', sans-serif;
  font-weight: 400;
  font-size: 36px;

  text-align: left;

  margin-top: 65px;
  margin-bottom: 100px;

  transform: translateY(-100%) scaleX(50%) scaleY(0%);
  transition: all 0.4s ease-in-out;
}

.r-branch-description {
  margin-left: auto;
  margin-right: 100px;
}

.l-branch-description {
  margin-left: 100px;
  margin-right: auto;
}

.r-branch-icon, .l-branch-icon {
  position: absolute;

  width: 450px;
  height: 450px;

  transform: translateY(-100%);
}

.r-branch-icon {
  right: 60px;
  left: auto;
}

.l-branch-icon {
  right: auto;
  left: 60px;
}

#tree-branch-img {
  position: absolute;
  
  width: 710px;
  height: 2914px;

  left:0px;
  top: 0px;
}

.branch-labels {
  position: relative;

  width: 550px;

  left: 710px;
  top: 0px;
}

.branch-labels p {
  position: relative;

  width: 100%;
  height: auto;

  margin-bottom: 50px;
}

/* .branch-intro-individual {
  position: relative;

  width: 100%;
  height: auto;

  margin-bottom: 500px;
} */

.branch-intro-individual-header {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: auto;

  text-align: left;
}

.branch-intro-individual-description {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  
  font-size:calc(12px + 1.5vw);
  /* font-size: auto; */
  line-height: auto;

  min-height: 400px;

  text-align: left;
}

.call-to-action {
  position: relative;

  margin-top: 200px;

  width: 1000px;
  height: 720px;

  margin-left: auto;
  margin-right: auto;

  border-radius: 100px;

  background-image: linear-gradient(to right, #002A5A66 0%, #002A5A66 35%, #61C8EB66 100%);

  opacity: 80%;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: auto;

  text-align: center;
}

#join-us-header-info {
  position: relative;

  top: 45px;

  width: 100%;
  height: 58px;

  font-size: 48px;
  font-weight: bold;
}

#club-duration-info {
  position: relative;
  
  margin-top: calc(7px + 45px); /* 45px is the top of the join-us-header-info <p>, because club-duration-info is relative to the call-to-action <div> and doesn't account for the top of the join-us-heaer-info, so it has to be manually accounted for. <p>*/

  width: 100%;
  height: 29px;
}

#call-to-action-next-wave-logo {
  position: relative;

  margin-top: 48px;

  width: 482px;
  height: 377px;
}

#other-inquires-info {
  position: relative;

  margin-top: 48px;

  width: 100%;
  height: 58px;
}

#email-link {
  color: white;
}

#email-link:hover {
  font-weight: bold;
}